
<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Nome</th>
    <th scope="col">Numero de contatos</th>
    <th scope="col"></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let person of peopleList">
    <th scope="row">{{ person.id }}</th>
    <td>
      {{ person.name }}
    </td>
    <td>
        {{ person.contacts.length }}
    </td>
    <td>
        <button type="button" class="btn btn-primary" (click)="getById(person.id)"><fa-icon [icon]="faPen"></fa-icon></button>
        <button type="button" class="btn btn-danger" (click)="delete(person.id)"><fa-icon [icon]="faTrashAlt"></fa-icon></button>
    </td>
  </tr>
  </tbody>
</table>