<h1>Lista de pessoas</h1>

<button type="button" class="btn btn-success" (click)="create()"><fa-icon [icon]="faPlusSquare"></fa-icon> Novo</button>

<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Nome</th>
    <th scope="col">Numero de contatos</th>
    <th scope="col"></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let person of peopleList">
    <th scope="row">{{ person.id }}</th>
    <td>
      {{ person.name }}
    </td>
    <td>
        {{ person.contacts.length }}
    </td>
    <td>
        <button type="button" class="btn btn-primary" (click)="contacts(person.id)"><fa-icon [icon]="faList"></fa-icon></button>
        <button type="button" class="btn btn-primary" (click)="edit(person.id)"><fa-icon [icon]="faPen"></fa-icon></button>
        <button type="button" class="btn btn-danger" (click)="delete(person.id)"><fa-icon [icon]="faTrashAlt"></fa-icon></button>
    </td>
  </tr>
  <tr *ngIf="peopleList.length == 0">
    <td colspan="3">
       Nenhum contato encontrado
    </td>
  </tr>
  </tbody>
</table>