<form [formGroup]="personForm" (ngSubmit)="onSubmit(personForm.value)">
    <div class="form-group">
        <label for="name">Nome</label>
        <input type="text" class="form-control" id="name" placeholder="Nome do contato" formControlName="name">
    </div>
    <button type="submit" class="btn btn-primary">Salvar</button>
</form>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Contato</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let contact of person.contacts">
            <td>
                {{ contact.type.name }}
            </td>
            <td>
                {{ contact.contact_value }}
            </td>
        </tr>
    </tbody>
  </table>
